html {
    height: 100%;
}

body{
    margin: 0px;
    background-image: url("images/backgrounds/black.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    padding: 0px 249px 0px 249px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
    opacity: 0.6;
}

.non-blank-space{
    padding: 0px 249px 0px 249px;
}

.mode-list{
    color:white;
}

#top-bar{
    background-color:#a9f8fe;
    height: 45px;
    line-height: 44px;
    font-size: 13px;
    padding: 0px 249px 0px 249px;
    text-align: right;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 99999;
}

#air-top-bar{
    height: 45px;
    line-height: 44px;
    font-size: 13px;
    padding: 0px 249px 0px 249px;
    text-align: right;
}

#second-bar{
    background-color:#ffffff;
    height: 85px;
    line-height: 47px;
    font-size: 16px;
    text-align: left;
    position: fixed;
    top: 45px;
    right: 0px;
    left: 0px;
    z-index: 99998;
}

#air-second-bar{
    height: 77px;
}