html {
    height: 100%;
}

body{
    margin: 0px;
    background-image: url("https://i.imgur.com/Tzn5AfY.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    padding: 0px 249px 0px 249px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
    opacity: 0.6;
}

.non-blank-space{
    padding: 0px 249px 0px 249px;
}

.inputValue{
    color: white;
    text-shadow: 0 0 5px black;
}

#top-bar{
    background-color:#a9f8fe;
    height: 45px;
    line-height: 44px;
    font-size: 13px;
    padding: 0px 249px 0px 249px;
    text-align: right;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 99999;
}

#home-page-botton{
    background-color:transparent;
    border: 0px;
    padding: 16px 22.5px 16px 22.5px;
    color: #EEE;
    text-decoration: none;
}

#home-page-botton:hover{
    background-color: gray;
    opacity: 0.5;
}

#air-top-bar{
    height: 45px;
    line-height: 44px;
    font-size: 13px;
    padding: 0px 249px 0px 249px;
    text-align: right;
}

#second-bar{
    background-color:#ffffff;
    height: 85px;
    line-height: 47px;
    font-size: 16px;
    text-align: left;
    position: fixed;
    top: 45px;
    right: 0px;
    left: 0px;
    z-index: 99998;
}

#air-second-bar{
    height: 77px;
}