html {
    height: 100%;
}

body{
    margin: 0px;
    background-image: url("../images/backgrounds/black.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    padding: 0px 249px 0px 249px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
    opacity: 0.6;
}

.non-blank-space{
    padding: 0px 249px 0px 249px;
}

.inputValue{
    width: 400px;
    color: white;
    text-shadow: 0 0 5px black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputValue input{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 14px;
    width: 310px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

.inputValue input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.button_type1{
    position: absolute;
    width: 53px;
    height: 33px;
    border-radius: 3px;
    border-color: #2d4664;
    background: #2d4664;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 17px;
    top: -38px;
    right: 65px;
}

.button_type2{
    position: relative;
    width: 53px;
    height: 33px;
    border-radius: 3px;
    border-color: #ff2b2b;
    background: #ff2b2b;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 17px;
    top: 2px;
    right: 58px;
}

.drop-down-menu{
    color: white;
    text-shadow: 0 0 5px black;
    display: inline-flex;
    flex-direction: column;
}

.drop-down-menu select{
    outline-style: none ;
    width: 160px;
    padding: 4px 30px 4px 4px;
    font-size: 14px;
    border: 1px solid #eee;
    height: 30px;
    appearance: none;
}

.drop-down-menu select:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.hint{
    position: relative;
    height: 20px;
    width: 18px;
    top: 22px;
    left: 1px;
}

.hint_text{
    position: absolute;
    visibility: hidden;
    width: 200px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    z-index: 999;
}

.hint:hover .hint_text {
    visibility: visible;
}

.hint img{
    height: 20x;
    width: 18px;
}

#top-bar{
    background-color:#a9f8fe;
    height: 45px;
    line-height: 44px;
    font-size: 13px;
    padding: 0px 249px 0px 249px;
    text-align: right;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 99999;
}

#home-page-button{
    background-color:transparent;
    border: 0px;
    padding: 16px 22.5px 16px 22.5px;
    color: #EEE;
    text-decoration: none;
}

#home-page-button:hover{
    background-color: gray;
    opacity: 0.5;
}

#air-top-bar{
    height: 45px;
    line-height: 44px;
    font-size: 13px;
    padding: 0px 249px 0px 249px;
    text-align: right;
}

#second-bar{
    background-color:#ffffff;
    height: 85px;
    line-height: 47px;
    font-size: 16px;
    text-align: left;
    position: fixed;
    top: 45px;
    right: 0px;
    left: 0px;
    z-index: 99998;
}

#air-second-bar{
    height: 77px;
}

#site_suitability{
    border-radius: 3px;
}

#armor_restraint{
    border-radius: 3px;
}

#add_input{
    position: relative;
    width: 400px;
}

#button-calculate{
    height: 125px;
    width: 125px;
    transition: all 1s ease-out;
}

#button-calculate:hover{
    transform:scale(1.1,1.1);
}

#output{
    color: white;
    text-shadow: 0 0 5px black;
}